{% extends "base.html" %}

{% block content %}




<div class="container">
    <h2 class="text-center py-3">Courses Offered</h2>
    <form action = "{% url "cource:search" %}" method = 'POST' class="form-inline py-4 d-flex justify-content-center md-form form-sm mt-0">
        {% csrf_token %}
        <i class="fas fa-search" aria-hidden="true"></i>
        <input class="form-control form-control-sm ml-3 w-75" name="title_search" type="text" placeholder="Enter title" aria-label="Search">
    </form>
    <table class="table">
        <thead>
        <tr>
            
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Instructor</th>
            <th scope="col">Start date</th>
            <th scope="col">End date</th>
            <th scope="col">Capacity</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for i in course %}
        <tr>
            
            <td>{{i.title}}</td>
            <td><input class="form-control input-lg w-100  overflow-scroll" type = "text" value = "{{i.description}}" disabled></td>
            <td>{{i.instructor}}</td>
            <td>{{i.start_date}}</td>
            <td>{{i.end_date}}</td>
            <td>{{i.capacity}}</td>
        </tr>
        {% endfor %}
    
        </tbody>
    </table>
</div>

<nav aria-label="Page navigation example">
  {% if course.has_other_pages %}
    <ul class="pagination justify-content-center">
        {% if course.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page = {{course.previous_page_number}}" tabindex="-1" aria-disabled="true">Previous</a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
      </li>
      {% endif %}

      {% for i in course.paginator.page_range %}
        {% if course.number == i %}
            <li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
        {% else %}
            <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
        {% endif %}
      {% endfor %}

      {% if course.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page = {{course.next_page_number}}" tabindex="-1" aria-disabled="true">Next</a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
      </li>
      {% endif %}
    </ul>
  {% endif %}
  </nav>
{% endblock %}

